html {
  width: 400px;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

input[type='button'] {
  margin: 2px 5px;
}

input[type='text'].error {
  border-color: red;
  color: red;
  background-color:#FCC;
}

.site-url {
  display: inline-block;
}
